.body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #2C363F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
}

.nav-button img {
    width: 30px;
    height: 30px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 800;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
    font-weight: 800;
    font-style: normal;
    font-size: 24px;
    line-height: 33px;
    font-feature-settings: 'liga' off;
    color: #0CA789;
    white-space: nowrap;
    width: 80%;
}

.logo img {
    width: 40px;
    height: 24px;
    margin-left: 10px;
}

.logo-content {
    display: flex;
    align-items: center;
}

.menu {
    width: 20%;
    margin-right: auto;
}

.menu img {
    width: 30px;
    height: 30px;
}

.sino-relogio {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.relogio {
    margin-right: 10px;
}

hr.linha {
    border: none;
    border-top: 4px solid #2C363F;
    width: calc(100% - 40px);
    margin: 10px auto;
    border-radius: 2px;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.form_grupo {
    position: relative;
    width: 100%;
    max-width: 328px;
    margin: 0 auto 20px auto;
    display: flex;
    /* Adicionado para alinhar as labels */
}

.form_label {
    position: absolute;
    width: 100%;
    max-width: 328px;
    height: 47px;
    text-align: left;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 47px;
}

.horario-container {
    display: flex;
}

.horario-input {
    width: 50%;
    padding-right: 10px;
}

.horario-input:last-child {
    padding-right: 0;
}

.horario-vagas-container {
    display: flex;
    flex-direction: row-reverse;
    /* Inverte a ordem dos elementos */
    align-items: center;
    /* Alinha os itens verticalmente */
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #A9BCD0;
    background-color: #EFF1F3;
    /* Adicionado para definir a cor de fundo */
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}